[submodule "Source/xml"]
	path = Source/xml
	url = https://github.com/leethomason/tinyxml2.git
[submodule "Source/ecs"]
	path = Source/ecs
	url = https://github.com/kopaka1822/EntityCS.git
[submodule "Source/glm"]
	path = Source/glm
	url = https://github.com/g-truc/glm.git
